<style>
    .gene-content-container {
        text-align: center;
        width: 100%;
    }
    .gene-content-table {
        border-collapse: collapse;
        border: none;
        table-layout: fixed;
        width: 98%;
        font-size: 9px;
        margin: 0 auto;
        display: table;
    }
    .gene-content-table th, .gene-content-table td {
        padding: 4px;
        margin: 0;
        text-align: center;
        overflow: hidden;
        border: none;
        word-wrap: break-word;
        line-height: 0.9;
        height: 16px;
        vertical-align: middle;
    }
    .gene-content-table th {
        background-color: #D5E4F1;
        font-weight: bold;
    }
    .gene-content-table tr td {
        width: 9.09%; /* 11개 컬럼이므로 100/11 */
    }
</style>

<div class="gene-content-container">
<table class="gene-content-table">
    <tr>
        <th colspan="11">DNA Content</th>
    </tr>
        <tr>
            <td>ABL1</td>
            <td>BSCD4</td>
            <td>CUX1</td>
            <td>FAM175A</td>
            <td>GATA6</td>
            <td>IGF1</td>
            <td>MAP3K13</td>
            <td>NOTCH4</td>
            <td>POLE</td>
            <td>RPTOR</td>
            <td>TAF1</td>
        </tr>
        <tr>
            <td>ABL2</td>
            <td>BRIP1</td>
            <td>CXCR4</td>
            <td>FAM46C</td>
            <td>GEN1</td>
            <td>IGF1R</td>
            <td>MAP3K14</td>
            <td>NPM1</td>
            <td>PPARα</td>
            <td>RUNX1</td>
            <td>TBX3</td>
        </tr>
        <tr>
            <td>ACVR1</td>
            <td>BTG1</td>
            <td>CYLD</td>
            <td>FAM58A</td>
            <td>GID4</td>
            <td>IGF2</td>
            <td>MAP3K2</td>
            <td>NRAS</td>
            <td>PPM1D</td>
            <td>RUNX1T1</td>
            <td>TCEB1</td>
        </tr>
        <tr>
            <td>ACVR1B</td>
            <td>BTK</td>
            <td>DAXX</td>
            <td>FANCC</td>
            <td>GLI1</td>
            <td>IKBKE</td>
            <td>MAPK1</td>
            <td>NRG1</td>
            <td>PPP2R1A</td>
            <td>RYBP</td>
            <td>TCF3</td>
        </tr>
        <tr>
            <td>AKT1</td>
            <td>C11orf30</td>
            <td>DCUN1D1</td>
            <td>FANCD2</td>
            <td>GNA11</td>
            <td>IKZF1</td>
            <td>MAPK3</td>
            <td>NSD1</td>
            <td>PPP2R2A</td>
            <td>SDHA</td>
            <td>TCF7L2</td>
        </tr>
        <tr>
            <td>AKT2</td>
            <td>CALR</td>
            <td>DDR2</td>
            <td>FANCE</td>
            <td>GNA13</td>
            <td>IL10</td>
            <td>MAX</td>
            <td>NTRK1</td>
            <td>PPP6C</td>
            <td>SDHAF2</td>
            <td>TERC</td>
        </tr>
        <tr>
            <td>AKT3</td>
            <td>CARD11</td>
            <td>DDX41</td>
            <td>FANCF</td>
            <td>GNAQ</td>
            <td>IL7R</td>
            <td>MCL1</td>
            <td>NTRK2</td>
            <td>PRDM1</td>
            <td>SDHB</td>
            <td>TERT</td>
        </tr>
        <tr>
            <td>ALK</td>
            <td>CASP8</td>
            <td>DHXS15</td>
            <td>FANCG</td>
            <td>GNAS</td>
            <td>INHA</td>
            <td>MDC1</td>
            <td>NTRK3</td>
            <td>PREX2</td>
            <td>SDHC</td>
            <td>TET1</td>
        </tr>
        <tr>
            <td>AMER1</td>
            <td>CBFB</td>
            <td>DHXS29</td>
            <td>FANCI</td>
            <td>GPR124</td>
            <td>INHBA</td>
            <td>MDM2</td>
            <td>NUF2</td>
            <td>PRKARN</td>
            <td>SDHD</td>
            <td>TET2</td>
        </tr>
        <tr>
            <td>ANKRD11</td>
            <td>CBL</td>
            <td>DIS3</td>
            <td>FANCL</td>
            <td>GPS2</td>
            <td>INPP4A</td>
            <td>MDM4</td>
            <td>NUTM1</td>
            <td>PRKCI</td>
            <td>SETBP1</td>
            <td>TFE3</td>
        </tr>
        <tr>
            <td>ANKRD26</td>
            <td>CCND1</td>
            <td>DHAB1</td>
            <td>FAS</td>
            <td>GREM1</td>
            <td>INPP4B</td>
            <td>MED12</td>
            <td>PAK1</td>
            <td>PRKDC</td>
            <td>SETD2</td>
            <td>TFRC</td>
        </tr>
        <tr>
            <td>APC</td>
            <td>CCND2</td>
            <td>DNAJB1</td>
            <td>FAT1</td>
            <td>GRIN2A</td>
            <td>INSR</td>
            <td>MEF2B</td>
            <td>PAK3</td>
            <td>PRSS8</td>
            <td>SF3B1</td>
            <td>TGFBR1</td>
        </tr>
        <tr>
            <td>AR</td>
            <td>CCND3</td>
            <td>DNMT3B</td>
            <td>FBXW7</td>
            <td>GRM3</td>
            <td>IRS2</td>
            <td>MEHT</td>
            <td>PAK7</td>
            <td>PTCH1</td>
            <td>SH2B3</td>
            <td>TGFBR2</td>
        </tr>
        <tr>
            <td>ARAF</td>
            <td>CCNE1</td>
            <td>DOT1L</td>
            <td>FGF1</td>
            <td>GSK3B</td>
            <td>JAK1</td>
            <td>MET</td>
            <td>PALB2</td>
            <td>PTEN</td>
            <td>SMAD2</td>
            <td>TMEM127</td>
        </tr>
        <tr>
            <td>ARID1A</td>
            <td>CD274</td>
            <td>DOTL1</td>
            <td>FGF10</td>
            <td>H3F3A</td>
            <td>JAK1</td>
            <td>MGA</td>
            <td>PARK2</td>
            <td>PTPN11</td>
            <td>SMAD4</td>
            <td>TNFAIP3</td>
        </tr>
        <tr>
            <td>ARID1A</td>
            <td>CD276</td>
            <td>E2F3</td>
            <td>FGF12</td>
            <td>H3F3B</td>
            <td>JAK2</td>
            <td>MITF</td>
            <td>PARVA</td>
            <td>PTPRO</td>
            <td>SLX4</td>
            <td>TNFRSF14</td>
        </tr>
        <tr>
            <td>ARID1B</td>
            <td>CD74</td>
            <td>SED</td>
            <td>FGF19</td>
            <td>H3F3C</td>
            <td>JAK1</td>
            <td>MLH1</td>
            <td>PAX3</td>
            <td>PTPRS</td>
            <td>SLX4</td>
            <td>TNFSF14</td>
        </tr>
        <tr>
            <td>ARID2</td>
            <td>CD79A</td>
            <td>EGFR</td>
            <td>FGF2</td>
            <td>HGF</td>
            <td>JAK2</td>
            <td>MLL</td>
            <td>PAX5</td>
            <td>PTPRT</td>
            <td>SMAD2</td>
            <td>TOP1</td>
        </tr>
        <tr>
            <td>ARID5B</td>
            <td>CD79B</td>
            <td>ESFIA</td>
            <td>FGF23</td>
            <td>HIST1H1C</td>
            <td>JAK3</td>
            <td>MLLT3</td>
            <td>PAX7</td>
            <td>QKI</td>
            <td>SMAD3</td>
            <td>TOP2A</td>
        </tr>
        <tr>
            <td>ASXL1</td>
            <td>CDC73</td>
            <td>EIF1AX</td>
            <td>FGF3</td>
            <td>HIST1H2BD</td>
            <td>JUN</td>
            <td>MNL</td>
            <td>PAX8</td>
            <td>RAB35</td>
            <td>SMAD4</td>
            <td>TP53</td>
        </tr>
        <tr>
            <td>ASXL2</td>
            <td>CDH1</td>
            <td>EP442</td>
            <td>FGF4</td>
            <td>HIST1H3A</td>
            <td>KAT6A</td>
            <td>MNK1TA</td>
            <td>PBRM1</td>
            <td>RAC1</td>
            <td>SMARCA4</td>
            <td>TP63</td>
        </tr>
        <tr>
            <td>ATF1</td>
            <td>CDK12</td>
            <td>ELF3</td>
            <td>FGF5</td>
            <td>HIST1H3B</td>
            <td>KDM5A</td>
            <td>MPL</td>
            <td>PCCD1</td>
            <td>RAC2</td>
            <td>SMARCB1</td>
            <td>TRAF2</td>
        </tr>
        <tr>
            <td>ATK</td>
            <td>CDK4</td>
            <td>EMLA</td>
            <td>FGF6</td>
            <td>HIST1H3C</td>
            <td>KDM5C</td>
            <td>MSH2</td>
            <td>PDLGTGL2</td>
            <td>RAD50</td>
            <td>SMARCD1</td>
            <td>TRAF7</td>
        </tr>
        <tr>
            <td>ATM</td>
            <td>CDK6</td>
            <td>EP300</td>
            <td>FGF7</td>
            <td>HIST1H3D</td>
            <td>KDM6A</td>
            <td>MSH6</td>
            <td>PDGFRA</td>
            <td>RAD51</td>
            <td>SMO</td>
            <td>TSC1</td>
        </tr>
        <tr>
            <td>AURKA</td>
            <td>CDK8</td>
            <td>EPCAM</td>
            <td>FGF8</td>
            <td>HIST1H3E</td>
            <td>KDR</td>
            <td>MSI1</td>
            <td>PDGFRθ</td>
            <td>RAD51B</td>
            <td>SMC1</td>
            <td>TSC2</td>
        </tr>
        <tr>
            <td>AURKB</td>
            <td>CDKN1A</td>
            <td>EPHA3</td>
            <td>FGF9</td>
            <td>HIST1H3F</td>
            <td>KEAP1</td>
            <td>MST1R</td>
            <td>PDK1</td>
            <td>RAD51C</td>
            <td>SNCAIP</td>
            <td>TUBB</td>
        </tr>
        <tr>
            <td>AXIN1</td>
            <td>CDKN1B</td>
            <td>EPHA5</td>
            <td>FGFR1</td>
            <td>HIST1H3G</td>
            <td>KEL</td>
            <td>MTOR</td>
            <td>PDPK1</td>
            <td>RAD51D</td>
            <td>SNCAIP</td>
            <td>U2AF1</td>
        </tr>
        <tr>
            <td>AXIN2</td>
            <td>CDKN2A</td>
            <td>EPHB1</td>
            <td>FGFR2</td>
            <td>HIST1H3H</td>
            <td>KIT</td>
            <td>MUTYH</td>
            <td>PGR</td>
            <td>RAD52</td>
            <td>SOC5</td>
            <td>VEGFA</td>
        </tr>
        <tr>
            <td>AXL</td>
            <td>CDKN2B</td>
            <td>EPHB1</td>
            <td>FGFR3</td>
            <td>HIST1H3I</td>
            <td>KIT</td>
            <td>MYB</td>
            <td>PHF6</td>
            <td>RAD54L</td>
            <td>SOX10</td>
            <td>VHL</td>
        </tr>
        <tr>
            <td>B2M</td>
            <td>CDKN2C</td>
            <td>EPHB4</td>
            <td>FGFR4</td>
            <td>HIST1H3J</td>
            <td>KLHL6</td>
            <td>MYC</td>
            <td>PHOX2B</td>
            <td>RAF1</td>
            <td>SOX17</td>
            <td>VTCN1</td>
        </tr>
        <tr>
            <td>BAP1</td>
            <td>CEBPA</td>
            <td>ERBB2</td>
            <td>FH</td>
            <td>HIST2H3A</td>
            <td>KLHL6</td>
            <td>MYCL1</td>
            <td>PIK3C2B</td>
            <td>RANBP2</td>
            <td>SOX2</td>
            <td>WISP3</td>
        </tr>
        <tr>
            <td>BARD1</td>
            <td>CENPA</td>
            <td>ERBB3</td>
            <td>FLCN</td>
            <td>HIST2H3C</td>
            <td>KMT2A</td>
            <td>MYCN</td>
            <td>PIK3C2G</td>
            <td>RARA</td>
            <td>SOX9</td>
            <td>WT1</td>
        </tr>
        <tr>
            <td>BBC3</td>
            <td>CHD2</td>
            <td>ERCC1</td>
            <td>FLI1</td>
            <td>HIST2H3D</td>
            <td>KMT2C</td>
            <td>MYD88</td>
            <td>PIK3C3</td>
            <td>RASA1</td>
            <td>SPEN</td>
            <td>XIAP</td>
        </tr>
        <tr>
            <td>BCL10</td>
            <td>CHD4</td>
            <td>ERCC2</td>
            <td>FLT1</td>
            <td>HIST3H3</td>
            <td>KMT2D</td>
            <td>MYOD1</td>
            <td>PIK3CA</td>
            <td>RB1</td>
            <td>SPOP</td>
            <td>XPO1</td>
        </tr>
        <tr>
            <td>BCL2</td>
            <td>CHEK1</td>
            <td>ERCC3</td>
            <td>FLT3</td>
            <td>HLA-A</td>
            <td>KRAS</td>
            <td>NAB2</td>
            <td>PIK3CB</td>
            <td>RBM10</td>
            <td>SPTA1</td>
            <td>XRCC2</td>
        </tr>
        <tr>
            <td>BCL2L1</td>
            <td>CHEK2</td>
            <td>ERCC4</td>
            <td>FLT4</td>
            <td>HLA-B</td>
            <td>LAMP1</td>
            <td>NBN</td>
            <td>PIK3CD</td>
            <td>RECQL4</td>
            <td>SRC</td>
            <td>YAP1</td>
        </tr>
        <tr>
            <td>BCL2L11</td>
            <td>CIC</td>
            <td>ERCC5</td>
            <td>FOXA1</td>
            <td>HLA-C</td>
            <td>LATS1</td>
            <td>NCOA3</td>
            <td>PIK3CG</td>
            <td>REL</td>
            <td>SRSF2</td>
            <td>YES1</td>
        </tr>
        <tr>
            <td>BCL2L2</td>
            <td>CREBBP</td>
            <td>ERG</td>
            <td>FOXL2</td>
            <td>HNF1A</td>
            <td>LATS2</td>
            <td>NCOR1</td>
            <td>PIK3R1</td>
            <td>RET</td>
            <td>STAG1</td>
            <td>ZBTB2</td>
        </tr>
        <tr>
            <td>BCL6</td>
            <td>CRKL</td>
            <td>ERRFI1</td>
            <td>FOXO1</td>
            <td>HNRNPK</td>
            <td>LMO1</td>
            <td>NEGR1</td>
            <td>PIK3R2</td>
            <td>RFWD2</td>
            <td>STAG2</td>
            <td>ZBTB7A</td>
        </tr>
        <tr>
            <td>BCOR</td>
            <td>CSF1</td>
            <td>ESR1</td>
            <td>FOXO3</td>
            <td>HOXB13</td>
            <td>LRP1B</td>
            <td>NF1</td>
            <td>PIK3R3</td>
            <td>RHEB</td>
            <td>STAT3</td>
            <td>ZCCHC8</td>
        </tr>
        <tr>
            <td>BCORL1</td>
            <td>CSF1R</td>
            <td>ETS1</td>
            <td>FRS2</td>
            <td>HRAS</td>
            <td>LYN</td>
            <td>NF2</td>
            <td>PIM1</td>
            <td>RHOA</td>
            <td>STAT4</td>
            <td>ZNF217</td>
        </tr>
        <tr>
            <td>BCR</td>
            <td>CSF3R</td>
            <td>ETV1</td>
            <td>FUBP1</td>
            <td>HSD3B1</td>
            <td>LZTR1</td>
            <td>NFKB2</td>
            <td>PLX2</td>
            <td>RICTOR</td>
            <td>STATS8</td>
            <td>ZNF703</td>
        </tr>
        <tr>
            <td>BIRC3</td>
            <td>CSNK1A1</td>
            <td>ETV4</td>
            <td>FYN</td>
            <td>HSP90AA1</td>
            <td>MAG2</td>
            <td>NFKB1A</td>
            <td>PLK2</td>
            <td>RIT1</td>
            <td>STATSB</td>
            <td>ZRSR2</td>
        </tr>
        <tr>
            <td>BLM</td>
            <td>CTCF</td>
            <td>ETV5</td>
            <td>GABBW1</td>
            <td>ID3</td>
            <td>MALT1</td>
            <td>NKX2-1</td>
            <td>PMAIP1</td>
            <td>RNF43</td>
            <td>STK11</td>
        </tr>
        <tr>
            <td>BMPR1A</td>
            <td>CTLA4</td>
            <td>ETV6</td>
            <td>GATA1</td>
            <td>ID3</td>
            <td>MAP2K1</td>
            <td>NKX3-1</td>
            <td>PMS1</td>
            <td>ROS1</td>
            <td>STK40</td>
        </tr>
        <tr>
            <td>BRAF</td>
            <td>CTNNA1</td>
            <td>EWSR1</td>
            <td>GATA2</td>
            <td>IDH1</td>
            <td>MAP2K2</td>
            <td>NOTCH1</td>
            <td>PMS2</td>
            <td>RPS6KA4</td>
            <td>SUFU</td>
        </tr>
        <tr>
            <td>BRCA1</td>
            <td>CTNNB1</td>
            <td>E2H2</td>
            <td>GATA3</td>
            <td>IDH2</td>
            <td>MAP2K4</td>
            <td>NOTCH2</td>
            <td>PNRC1</td>
            <td>RPS6KB1</td>
            <td>SUZ12</td>
        </tr>
        <tr>
            <td>BRCA2</td>
            <td>CUL3</td>
            <td>FAM123B</td>
            <td>GATA4</td>
            <td>IFNGR1</td>
            <td>MAP3K1</td>
            <td>NOTCH3</td>
            <td>PPARG</td>
            <td>RPS6KB2</td>
            <td>SYK</td>
        </tr>
        <tr>
            <th colspan="11">RNA Content</th>
        </tr>
        <tr>
            <td>ABL1</td>
            <td>BCL2</td>
            <td>CEPB</td>
            <td>ESR1</td>
            <td>EWSR1</td>
            <td>ELT1</td>
            <td>KIFB</td>
            <td>MSH2</td>
            <td>NRG1</td>
            <td>PAX7</td>
            <td>RAF1</td>
        </tr>
        <tr>
            <td>ACT3</td>
            <td>BRAF</td>
            <td>EGFR</td>
            <td>ETS1</td>
            <td>FGFR1</td>
            <td>FLT1</td>
            <td>KIT</td>
            <td>MYC</td>
            <td>NTRK1</td>
            <td>PDGFRA</td>
            <td>RET</td>
        </tr>
        <tr>
            <td>ALK</td>
            <td>BRCA1</td>
            <td>EMLA</td>
            <td>ETV1</td>
            <td>FGFR2</td>
            <td>FLT3</td>
            <td>KRAS</td>
            <td>NOTCH1</td>
            <td>NTRK2</td>
            <td>PDGFRB</td>
            <td>ROS</td>
        </tr>
        <tr>
            <td>AR</td>
            <td>BRCA2</td>
            <td>ERBB2</td>
            <td>ETV4</td>
            <td>FGFR3</td>
            <td>JAK2</td>
            <td>MLL</td>
            <td>NOTCH2</td>
            <td>NTRK3</td>
            <td>PIK3CA</td>
            <td>RPS6KB1</td>
        </tr>
        <tr>
            <td>AXL</td>
            <td>CDK4</td>
            <td>ERG</td>
            <td>ETV5</td>
            <td>FLT1</td>
            <td>JUN</td>
            <td>MLT1</td>
            <td>NPM1</td>
            <td>PAX3</td>
            <td>PPARG</td>
            <td>TMPRSS2</td>
        </tr>
    </table>
</div>