<style>
    .gene-content-container {
        text-align: center;
        width: 100%;
    }
    .gene-content-table {
        border-collapse: collapse;
        border: none;
        table-layout: fixed;
        width: 95%;
        font-size: 9px;
        margin: 0 auto;
        max-width: calc(100% - 30px);
        display: inline-table;
    }
    .gene-content-table th, .gene-content-table td {
        padding: 4px;
        margin: 0;
        text-align: center;
        overflow: hidden;
        border: none;
        word-wrap: break-word;
        line-height: 0.9;
        height: 16px;
        vertical-align: middle;
    }
    .gene-content-table th {
        background-color: #D5E4F1;
        font-weight: bold;
    }
    .gene-content-table tr td {
        width: 9.09%; /* 11개 컬럼이므로 100/11 */
    }
</style>

<div class="gene-content-container">
<table class="gene-content-table">
    <tr>
        <th colspan="11">RNA Content</th>
    </tr>
        <tr>
            <td>ABL1</td>
            <td>BRD4</td>
            <td>COG5</td>
            <td>ERC1</td>
            <td>GTF2I</td>
            <td>LINC00982</td>
            <td>NCOA1</td>
            <td>PHF23</td>
            <td>SERPINE1</td>
            <td>TEAD3</td>
            <td>ZMYND11</td>
        </tr>
        <tr>
            <td>ABL1</td>
            <td>BRWD3</td>
            <td>COL1A1</td>
            <td>ERCC1</td>
            <td>H2AFX</td>
            <td>LINC00982</td>
            <td>NCOA2</td>
            <td>PICALM</td>
            <td>SERPINF1</td>
            <td>TEAD4</td>
            <td>ZNF207</td>
        </tr>
        <tr>
            <td>ABL2</td>
            <td>BTBD18</td>
            <td>COL1A2</td>
            <td>ERG</td>
            <td>HASP</td>
            <td>LMBD1</td>
            <td>NCOR3</td>
            <td>PIM1</td>
            <td>SET</td>
            <td>TEC</td>
            <td>ZNF394</td>
        </tr>
        <tr>
            <td>ACACA</td>
            <td>BTG1</td>
            <td>COL6A3</td>
            <td>ERLN2</td>
            <td>HEY1</td>
            <td>LMO1</td>
            <td>NDE1</td>
            <td>PLAC9</td>
            <td>SETBP1</td>
            <td>TENM1</td>
            <td>ZNF444</td>
        </tr>
        <tr>
            <td>ACE</td>
            <td>C11orf</td>
            <td>COX6C</td>
            <td>ESR1</td>
            <td>HHEX</td>
            <td>LMO2</td>
            <td>NF1</td>
            <td>PML</td>
            <td>SFPQ</td>
            <td>TET1</td>
            <td>ZNF521</td>
        </tr>
        <tr>
            <td>ACER1</td>
            <td>C11orf95</td>
            <td>CPS6</td>
            <td>ETS1</td>
            <td>HIP1</td>
            <td>LNP1</td>
            <td>NFATC2</td>
            <td>POM121</td>
            <td>SH3D19</td>
            <td>TET3</td>
            <td>ZNF586</td>
        </tr>
        <tr>
            <td>ACKR3</td>
            <td>C2CD2L</td>
            <td>CRADD</td>
            <td>ETV1</td>
            <td>HIP1</td>
            <td>LPP</td>
            <td>NFB</td>
            <td>POU2AF1</td>
            <td>SH3GL1</td>
            <td>TFG</td>
            <td>ZNF687</td>
        </tr>
        <tr>
            <td>ACSL6</td>
            <td>C30RF27</td>
            <td>CREB1</td>
            <td>ETV4</td>
            <td>HIST1H4L</td>
            <td>LPXN</td>
            <td>NGF</td>
            <td>POUSF1</td>
            <td>SIK3</td>
            <td>TFPT</td>
        </tr>
        <tr>
            <td>ADD3</td>
            <td>CAMTA1</td>
            <td>CREB3L1</td>
            <td>ETV5</td>
            <td>HLF</td>
            <td>LRMP</td>
            <td>NGFR</td>
            <td>PPAP2B</td>
            <td>SLC34A2</td>
            <td>TFRC</td>
        </tr>
        <tr>
            <td>AFT1</td>
            <td>CAPRIN1</td>
            <td>CREB3L2</td>
            <td>ETV6</td>
            <td>HMGA2</td>
            <td>LRRC37B</td>
            <td>NIN</td>
            <td>PPARG</td>
            <td>SLC36A3</td>
            <td>THBS1</td>
        </tr>
        <tr>
            <td>AFF3</td>
            <td>CARS</td>
            <td>CREBBP</td>
            <td>EWSR1</td>
            <td>HNF1A</td>
            <td>LTBP1</td>
            <td>NIPBL</td>
            <td>PPARGC1A</td>
            <td>SLC61B3</td>
            <td>THADA</td>
        </tr>
        <tr>
            <td>AFF4</td>
            <td>CASC5</td>
            <td>CRIP2</td>
            <td>EZR</td>
            <td>HOXA10</td>
            <td>LYL1</td>
            <td>NKX2-5</td>
            <td>PPFIBP1</td>
            <td>SMAP1</td>
            <td>THRAPS</td>
        </tr>
        <tr>
            <td>AGR3</td>
            <td>CASP7</td>
            <td>CRIP1</td>
            <td>FAM123A</td>
            <td>HOXA11</td>
            <td>MACROD1</td>
            <td>NONO</td>
            <td>PPP2R1B</td>
            <td>SMARCA5</td>
            <td>THY4</td>
        </tr>
        <tr>
            <td>AHI1</td>
            <td>CBFA2T3</td>
            <td>CSF1</td>
            <td>FCGR2B</td>
            <td>HOXA13</td>
            <td>MAF</td>
            <td>NOTCH1</td>
            <td>PRCC</td>
            <td>SMARCB1</td>
            <td>TLX1</td>
        </tr>
        <tr>
            <td>AHRR</td>
            <td>CBFB</td>
            <td>CSFIR</td>
            <td>FCRL4</td>
            <td>HOXA9</td>
            <td>MAFB</td>
            <td>NPM1</td>
            <td>PRDM1</td>
            <td>SMG5</td>
            <td>TLX3</td>
        </tr>
        <tr>
            <td>ALK</td>
            <td>CBL</td>
            <td>CTDSPL2</td>
            <td>FEN1</td>
            <td>HOXC11</td>
            <td>MALT1</td>
            <td>NR4A3</td>
            <td>PRKACA</td>
            <td>SON652</td>
            <td>TMPRSS2</td>
        </tr>
        <tr>
            <td>ANKRD28</td>
            <td>CCAP</td>
            <td>CTNNB1</td>
            <td>FEV</td>
            <td>HOXC13</td>
            <td>MAML2</td>
            <td>NRG4I</td>
            <td>PRSAA1A</td>
            <td>LSMHEC5</td>
            <td>TMPS517</td>
        </tr>
        <tr>
            <td>AR</td>
            <td>CCD52BA</td>
            <td>CUX1</td>
            <td>FGF3</td>
            <td>HOXD11</td>
            <td>MAPRE1</td>
            <td>NSD1</td>
            <td>PRKG2</td>
            <td>SP3</td>
            <td>TOP1</td>
        </tr>
        <tr>
            <td>ARHGAP30</td>
            <td>CCD56</td>
            <td>DAB2IP</td>
            <td>FGFR1</td>
            <td>HOXD13</td>
            <td>MBN1.1</td>
            <td>NTSC2</td>
            <td>PRR12</td>
            <td>SPCC1</td>
            <td>TOP2B</td>
        </tr>
        <tr>
            <td>ARHGAP36</td>
            <td>CCD63BC</td>
            <td>DACH1</td>
            <td>FGFR1OP</td>
            <td>HSP90AA1</td>
            <td>MBTD1</td>
            <td>NTF3</td>
            <td>PSP1</td>
            <td>SPTBN1</td>
            <td>TP53BP1</td>
        </tr>
        <tr>
            <td>ARNT</td>
            <td>CCNB1BP1</td>
            <td>DACH2</td>
            <td>FGFR1OP2</td>
            <td>ID4</td>
            <td>MDS2</td>
            <td>NTF4</td>
            <td>PSM1D2</td>
            <td>SPTM1</td>
            <td>TPMS3</td>
        </tr>
        <tr>
            <td>ASPEC1</td>
            <td>CCNB3</td>
            <td>DDT3</td>
            <td>FGF2</td>
            <td>IKZF1</td>
            <td>MEAF6</td>
            <td>NTRK1</td>
            <td>PTPPR</td>
            <td>SRF</td>
            <td>TPM4</td>
        </tr>
        <tr>
            <td>ASTNA2</td>
            <td>CCND1</td>
            <td>DDX10</td>
            <td>FGR3</td>
            <td>IL2</td>
            <td>MECOM</td>
            <td>NTRK2</td>
            <td>PVT1</td>
            <td>SRSR3</td>
            <td>TRHDE</td>
        </tr>
        <tr>
            <td>ATF1</td>
            <td>CCND2</td>
            <td>DDX20</td>
            <td>FGFR4</td>
            <td>IL2TG</td>
            <td>MGEAS</td>
            <td>NTRK3</td>
            <td>RABEP1</td>
            <td>SSH</td>
            <td>TRHM2A</td>
        </tr>
        <tr>
            <td>ATIC</td>
            <td>CCND3</td>
            <td>DEK</td>
            <td>FH1T</td>
            <td>IL3</td>
            <td>MKL1</td>
            <td>NUMA1</td>
            <td>RAD51B</td>
            <td>SSH1L1</td>
            <td>TRIP11</td>
        </tr>
        <tr>
            <td>ATPSE4</td>
            <td>CPT4</td>
            <td>SMRT1</td>
            <td>FHIT1</td>
            <td>IMPDH1</td>
            <td>MKL2</td>
            <td>NUP107</td>
            <td>RAF1</td>
            <td>SSH2</td>
            <td>TRIP53</td>
        </tr>
        <tr>
            <td>AUTS2</td>
            <td>CDH11</td>
            <td>DNAJB1</td>
            <td>FLT1</td>
            <td>ICCG</td>
            <td>MLF1</td>
            <td>NUP214</td>
            <td>RANBP2</td>
            <td>SSX1</td>
            <td>USF6</td>
        </tr>
        <tr>
            <td>BACH2</td>
            <td>CDHSAP2</td>
            <td>DPAI1</td>
            <td>FLNA</td>
            <td>IRGEBP7</td>
            <td>MLLT1</td>
            <td>NUP98</td>
            <td>RAPS63</td>
            <td>SSX2</td>
            <td>USP6P2</td>
        </tr>
        <tr>
            <td>BAG4</td>
            <td>CDK6</td>
            <td>DUSP22</td>
            <td>FLT3</td>
            <td>IRF4</td>
            <td>MLLT10</td>
            <td>NUTM1</td>
            <td>RARA</td>
            <td>SSX4</td>
            <td>USP6</td>
        </tr>
        <tr>
            <td>BAIAAP2L</td>
            <td>CDX1</td>
            <td>DUX4</td>
            <td>FLT3</td>
            <td>IRG4</td>
            <td>MLLT11</td>
            <td>NUTM2A</td>
            <td>RBM15</td>
            <td>STAG4L1</td>
            <td>UTP3</td>
        </tr>
        <tr>
            <td>BAZ2A</td>
            <td>CDX2</td>
            <td>EBF1</td>
            <td>FNBP1</td>
            <td>ITK</td>
            <td>MLLT3</td>
            <td>NUTM2B</td>
            <td>RBM5</td>
            <td>STAT5B</td>
            <td>WASF2</td>
        </tr>
        <tr>
            <td>BCAS3</td>
            <td>CEBPA</td>
            <td>EFSCSC</td>
            <td>FOSB</td>
            <td>JAK1</td>
            <td>MLLT4</td>
            <td>OFD1</td>
            <td>RCOR1</td>
            <td>STAT5</td>
            <td>WDR18</td>
        </tr>
        <tr>
            <td>BCAS4</td>
            <td>CEBPB</td>
            <td>EGR</td>
            <td>FOSL1</td>
            <td>JAK2</td>
            <td>MLLT6</td>
            <td>OLR2</td>
            <td>REG1V</td>
            <td>STBG</td>
            <td>WDR90</td>
        </tr>
        <tr>
            <td>BCL10</td>
            <td>CEBPD</td>
            <td>EGR1</td>
            <td>FOXO1</td>
            <td>JAZF1</td>
            <td>MN1</td>
            <td>OLR1</td>
            <td>RET</td>
            <td>SUGP2</td>
            <td>WHSC1</td>
        </tr>
        <tr>
            <td>BCL11A</td>
            <td>CEBPE</td>
            <td>EGR2</td>
            <td>FOXOA4</td>
            <td>KANSL1</td>
            <td>MNX1</td>
            <td>OMD</td>
            <td>RGMD</td>
            <td>SUZ12</td>
            <td>WHSC1L1</td>
        </tr>
        <tr>
            <td>BCL11B</td>
            <td>CEP170B</td>
            <td>EGR3</td>
            <td>FOXP1</td>
            <td>KATEA</td>
            <td>MSI2</td>
            <td>P2RY8</td>
            <td>RNF213</td>
            <td>SYK</td>
            <td>WSS1</td>
        </tr>
        <tr>
            <td>BCL2</td>
            <td>CEPS5L</td>
            <td>EGR4</td>
            <td>FRK</td>
            <td>KATGB</td>
            <td>MSN</td>
            <td>PAPGA</td>
            <td>ROS1</td>
            <td>TACCS</td>
            <td>WT1</td>
        </tr>
        <tr>
            <td>BCL2L1</td>
            <td>CHD6</td>
            <td>EIF4A2</td>
            <td>FRYL</td>
            <td>KDM5A</td>
            <td>MUC1</td>
            <td>PAT21</td>
            <td>RPL22</td>
            <td>TACC2</td>
            <td>WWTR1</td>
        </tr>
        <tr>
            <td>BCL3</td>
            <td>CHK2</td>
            <td>ELF4</td>
            <td>FUS</td>
            <td>KIAA1549</td>
            <td>MUTYH</td>
            <td>PAX3</td>
            <td>RPM1</td>
            <td>TACC3</td>
            <td>XBP</td>
        </tr>
        <tr>
            <td>BCL6</td>
            <td>CHMP2B</td>
            <td>ELK4</td>
            <td>GASS</td>
            <td>KIF5B</td>
            <td>MYB</td>
            <td>PAX5</td>
            <td>RREB1</td>
            <td>TAF15</td>
            <td>YAP1</td>
        </tr>
        <tr>
            <td>BCL9</td>
            <td>CHST11</td>
            <td>ELL</td>
            <td>GAST</td>
            <td>KMT2A</td>
            <td>MYCL1</td>
            <td>PAX7</td>
            <td>RRM1</td>
            <td>TAL1</td>
            <td>YTHDF2</td>
        </tr>
        <tr>
            <td>BCR6</td>
            <td>CIC</td>
            <td>ELN</td>
            <td>GATAD1</td>
            <td>KMT2B1</td>
            <td>MYC</td>
            <td>PAX8</td>
            <td>RTF11</td>
            <td>TAL2</td>
            <td>YWHAE</td>
        </tr>
        <tr>
            <td>BCR</td>
            <td>CIITA</td>
            <td>EML1</td>
            <td>GH2</td>
            <td>KSR1</td>
            <td>MYPH1</td>
            <td>PBX1</td>
            <td>RUNX1</td>
            <td>TAOK1</td>
            <td>ZBTB16</td>
        </tr>
        <tr>
            <td>BDNF</td>
            <td>CLP1</td>
            <td>EML4</td>
            <td>GJU1</td>
            <td>LASP1</td>
            <td>MYH9</td>
            <td>PCM1</td>
            <td>RUNXT1</td>
            <td>TBX15</td>
            <td>ZC3H7A</td>
        </tr>
        <tr>
            <td>BICC1</td>
            <td>CLTC</td>
            <td>EP300</td>
            <td>GOSR1</td>
            <td>LCK</td>
            <td>MYO18A</td>
            <td>PDE4DIP</td>
            <td>SARNP</td>
            <td>TCF12</td>
            <td>ZC3H7B</td>
        </tr>
        <tr>
            <td>BIRC3</td>
            <td>CLTC1</td>
            <td>EP400</td>
            <td>GOSR1</td>
            <td>LCF1</td>
            <td>MYO1F</td>
            <td>PDGFR</td>
            <td>SEC23A</td>
            <td>TCF3</td>
            <td>ZFP64</td>
        </tr>
        <tr>
            <td>BIRC5</td>
            <td>CMKLR1</td>
            <td>EPC1</td>
            <td>GPR126</td>
            <td>LGR5</td>
            <td>NAB2</td>
            <td>PDGFRA</td>
            <td>SEPT2</td>
            <td>TCL1A</td>
            <td>ZFPM2</td>
        </tr>
        <tr>
            <td>BMP4</td>
            <td>CNBP</td>
            <td>EPCR</td>
            <td>GPR34</td>
            <td>LHFP</td>
            <td>NAPA</td>
            <td>PDGFRB</td>
            <td>SEPT5</td>
            <td>TCTA</td>
            <td>ZFYVE19</td>
        </tr>
        <tr>
            <td>BRD1</td>
            <td>CNOT2</td>
            <td>EPS15</td>
            <td>GRHPR</td>
            <td>LHX2</td>
            <td>NBEAP1</td>
            <td>PER1</td>
            <td>SEPT6</td>
            <td>TEAD1</td>
            <td>ZMZ1</td>
        </tr>
        <tr>
            <td>BRD3</td>
            <td>CNTH1</td>
            <td>ERBB3</td>
            <td>GRID1</td>
            <td>LHX4</td>
            <td>NBR1</td>
            <td>PER1</td>
            <td>SEPT9</td>
            <td>TEAD2</td>
            <td>ZMYM2</td>
        </tr>
</table>
</div>