<style>
    .gene-content-container {
        text-align: left;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    .gene-content-table {
        border-collapse: collapse;
        border: none;
        table-layout: fixed;
        width: calc(100% - 4px);
        font-size: 9px;
        margin: 0 2px;
        display: table;
    }
    .gene-content-table th, .gene-content-table td {
        padding: 2px;
        margin: 0;
        text-align: center;
        overflow: hidden;
        border: none;
        word-wrap: break-word;
        line-height: 1.1;
        height: 13px;
        vertical-align: middle;
    }
    .gene-content-table th {
        background-color: #D5E4F1;
        font-weight: bold;
    }
    .gene-content-table tr td {
        width: 9.09%; /* 11개 컬럼이므로 100/11 */
    }
</style>

<div class="gene-content-container">
<table class="gene-content-table">
    <tr>
        <th colspan="11">RNA Content</th>
    </tr>
        <tr>
            <td>ABI1</td>
            <td>BRD4</td>
            <td>COG5</td>
            <td>ERC1</td>
            <td>GTF2I</td>
            <td>LINC00598</td>
            <td>NCOA1</td>
            <td>PHF23</td>
            <td>SERPINE1</td>
            <td>TEAD3</td>
            <td>ZMYND11</td>
        </tr>
        <tr>
            <td>ABL1</td>
            <td>BRWD3</td>
            <td>COL1A1</td>
            <td>ERCC1</td>
            <td>H2AFX</td>
            <td>LINC00982</td>
            <td>NCOA2</td>
            <td>PICALM</td>
            <td>SERPINF1</td>
            <td>TEAD4</td>
            <td>ZNF207</td>
        </tr>
        <tr>
            <td>ABL2</td>
            <td>BTBD18</td>
            <td>COL1A2</td>
            <td>ERG</td>
            <td>HAS2</td>
            <td>LMBRD1</td>
            <td>NCOA3</td>
            <td>PIM1</td>
            <td>SET</td>
            <td>TEC</td>
            <td>ZNF384</td>
        </tr>
        <tr>
            <td>ACACA</td>
            <td>BTG1</td>
            <td>COL6A3</td>
            <td>ERLIN2</td>
            <td>HEY1</td>
            <td>LMO1</td>
            <td>NDE1</td>
            <td>PLAG1</td>
            <td>SETBP1</td>
            <td>TENM1</td>
            <td>ZNF444</td>
        </tr>
        <tr>
            <td>ACE</td>
            <td>C11orf1</td>
            <td>COX6C</td>
            <td>ESR1</td>
            <td>HHEX</td>
            <td>LMO2</td>
            <td>NF1</td>
            <td>PML</td>
            <td>SFPQ</td>
            <td>TET1</td>
            <td>ZNF521</td>
        </tr>
        <tr>
            <td>ACER1</td>
            <td>C11orf95</td>
            <td>CPSF6</td>
            <td>ETS1</td>
            <td>HIP1</td>
            <td>LNP1</td>
            <td>NFATC2</td>
            <td>POM121</td>
            <td>SH3D19</td>
            <td>TFE3</td>
            <td>ZNF585B</td>
        </tr>
        <tr>
            <td>ACKR3</td>
            <td>C2CD2L</td>
            <td>CRADD</td>
            <td>ETV1</td>
            <td>HIPK1</td>
            <td>LPP</td>
            <td>NFIB</td>
            <td>POU2AF1</td>
            <td>SH3GL1</td>
            <td>TFG</td>
            <td>ZNF687</td>
        </tr>
        <tr>
            <td>ACSL6</td>
            <td>C3orf27</td>
            <td>CREB1</td>
            <td>ETV4</td>
            <td>HIST1H4I</td>
            <td>LPXN</td>
            <td>NGF</td>
            <td>POU5F1</td>
            <td>SIK3</td>
            <td>TFPT</td>
            <td></td>
        </tr>
        <tr>
            <td>ADD3</td>
            <td>CAMTA1</td>
            <td>CREB3L1</td>
            <td>ETV5</td>
            <td>HLF</td>
            <td>LRMP</td>
            <td>NGFR</td>
            <td>PPAP2B</td>
            <td>SLC34A2</td>
            <td>TFRC</td>
            <td></td>
        </tr>
        <tr>
            <td>AFF1</td>
            <td>CAPRIN1</td>
            <td>CREB3L2</td>
            <td>ETV6</td>
            <td>HMGA2</td>
            <td>LTBP1</td>
            <td>NIN</td>
            <td>PPARG</td>
            <td>SLC45A3</td>
            <td>TGFBR3</td>
            <td></td>
        </tr>
        <tr>
            <td>AFF3</td>
            <td>CARS</td>
            <td>CREBBP</td>
            <td>EWSR1</td>
            <td>HNF1A</td>
            <td>LRRC37B</td>
            <td>NIPBL</td>
            <td>PPARGC1A</td>
            <td>SLCO1B3</td>
            <td>THADA</td>
            <td></td>
        </tr>
        <tr>
            <td>AFF4</td>
            <td>CASC5</td>
            <td>CRLF2</td>
            <td>EZR</td>
            <td>HOXA10</td>
            <td>LYL1</td>
            <td>NKX2-5</td>
            <td>PPFIBP1</td>
            <td>SMAP1</td>
            <td>THRAP3</td>
            <td></td>
        </tr>
        <tr>
            <td>AGR3</td>
            <td>CASP7</td>
            <td>CRTC1</td>
            <td>FAM19A2</td>
            <td>HOXA11</td>
            <td>MACROD1</td>
            <td>NONO</td>
            <td>PPP2R1B</td>
            <td>SMARCA5</td>
            <td>TIRAP</td>
            <td></td>
        </tr>
        <tr>
            <td>AHI1</td>
            <td>CBFA2T3</td>
            <td>CSF1</td>
            <td>FCGR2B</td>
            <td>HOXA13</td>
            <td>MAF</td>
            <td>NOTCH1</td>
            <td>PRCC</td>
            <td>SMARCB1</td>
            <td>TLX1</td>
            <td></td>
        </tr>
        <tr>
            <td>AHRR</td>
            <td>CBFB</td>
            <td>CSF1R</td>
            <td>FCRL4</td>
            <td>HOXA9</td>
            <td>MAFB</td>
            <td>NPM1</td>
            <td>PRDM16</td>
            <td>SNHG5</td>
            <td>TLX3</td>
            <td></td>
        </tr>
        <tr>
            <td>ALK</td>
            <td>CBL</td>
            <td>CTDSP2</td>
            <td>FEN1</td>
            <td>HOXC11</td>
            <td>MALT1</td>
            <td>NR4A3</td>
            <td>PRKACA</td>
            <td>SORBS2</td>
            <td>TMPRSS2</td>
            <td></td>
        </tr>
        <tr>
            <td>ANKRD28</td>
            <td>CCAR2</td>
            <td>CTNNB1</td>
            <td>FEV</td>
            <td>HOXC13</td>
            <td>MAML2</td>
            <td>NR6A1</td>
            <td>PRKAR1A</td>
            <td>SORT1</td>
            <td>TNFRSF17</td>
            <td></td>
        </tr>
        <tr>
            <td>AR</td>
            <td>CCDC28A</td>
            <td>CUX1</td>
            <td>FGF8</td>
            <td>HOXD11</td>
            <td>MAPRE1</td>
            <td>NSD1</td>
            <td>PRKG2</td>
            <td>SP3</td>
            <td>TOP1</td>
            <td></td>
        </tr>
        <tr>
            <td>ARHGAP20</td>
            <td>CCDC6</td>
            <td>DAB2IP</td>
            <td>FGFR1</td>
            <td>HOXD13</td>
            <td>MBNL1</td>
            <td>NT5C2</td>
            <td>PRRX2</td>
            <td>SPECC1</td>
            <td>TOP2B</td>
            <td></td>
        </tr>
        <tr>
            <td>ARHGAP26</td>
            <td>CCDC88C</td>
            <td>DACH1</td>
            <td>FGFR1OP</td>
            <td>HSP90AA1</td>
            <td>MBTD1</td>
            <td>NTF3</td>
            <td>PSIP1</td>
            <td>SPTBN1</td>
            <td>TP53BP1</td>
            <td></td>
        </tr>
        <tr>
            <td>ARNT</td>
            <td>CCNB1IP1</td>
            <td>DACH2</td>
            <td>FGFR1OP2</td>
            <td>ID4</td>
            <td>MDS2</td>
            <td>NTF4</td>
            <td>PSMD2</td>
            <td>SQSTM1</td>
            <td>TPM3</td>
            <td></td>
        </tr>
        <tr>
            <td>ASPSCR1</td>
            <td>CCNB3</td>
            <td>DDIT3</td>
            <td>FGFR2</td>
            <td>IKZF1</td>
            <td>MEAF6</td>
            <td>NTRK1</td>
            <td>PTPRR</td>
            <td>SRF</td>
            <td>TPM4</td>
            <td></td>
        </tr>
        <tr>
            <td>ASTN2</td>
            <td>CCND1</td>
            <td>DDX10</td>
            <td>FGFR3</td>
            <td>IL2</td>
            <td>MECOM</td>
            <td>NTRK2</td>
            <td>PVT1</td>
            <td>SRSF3</td>
            <td>TRHDE</td>
            <td></td>
        </tr>
        <tr>
            <td>ATF1</td>
            <td>CCND2</td>
            <td>DDX20</td>
            <td>FGFR4</td>
            <td>IL21R</td>
            <td>MGEA5</td>
            <td>NTRK3</td>
            <td>RABEP1</td>
            <td>SS18</td>
            <td>TRIM24</td>
            <td></td>
        </tr>
        <tr>
            <td>ATIC</td>
            <td>CCND3</td>
            <td>DEK</td>
            <td>FHIT</td>
            <td>IL3</td>
            <td>MKL1</td>
            <td>NUMA1</td>
            <td>RAD51B</td>
            <td>SS18L1</td>
            <td>TRIP11</td>
            <td></td>
        </tr>
        <tr>
            <td>ATP1B4</td>
            <td>CD74</td>
            <td>DMRT1</td>
            <td>FIP1L1</td>
            <td>INPP5D</td>
            <td>MKL2</td>
            <td>NUP107</td>
            <td>RAF1</td>
            <td>SSBP2</td>
            <td>TRPS1</td>
            <td></td>
        </tr>
        <tr>
            <td>AUTS2</td>
            <td>CDH11</td>
            <td>DNAJB1</td>
            <td>FLI1</td>
            <td>IQCG</td>
            <td>MLF1</td>
            <td>NUP214</td>
            <td>RANBP2</td>
            <td>SSX1</td>
            <td>USP16</td>
            <td></td>
        </tr>
        <tr>
            <td>BACH2</td>
            <td>CDK5RAP2</td>
            <td>DPM1</td>
            <td>FLNA</td>
            <td>IRF2BP2</td>
            <td>MLLT1</td>
            <td>NUP98</td>
            <td>RAP1GDS1</td>
            <td>SSX2</td>
            <td>USP42</td>
            <td></td>
        </tr>
        <tr>
            <td>BAG4</td>
            <td>CDK6</td>
            <td>DUSP22</td>
            <td>FLT3</td>
            <td>IRF4</td>
            <td>MLLT10</td>
            <td>NUTM1</td>
            <td>RARA</td>
            <td>SSX4</td>
            <td>USP6</td>
            <td></td>
        </tr>
        <tr>
            <td>BAIAP2L1</td>
            <td>CDX1</td>
            <td>DUX4</td>
            <td>FLT3LG</td>
            <td>IRS4</td>
            <td>MLLT11</td>
            <td>NUTM2A</td>
            <td>RBM15</td>
            <td>ST6GAL1</td>
            <td>VGLL3</td>
            <td></td>
        </tr>
        <tr>
            <td>BAZ2A</td>
            <td>CDX2</td>
            <td>EBF1</td>
            <td>FNBP1</td>
            <td>ITK</td>
            <td>MLLT3</td>
            <td>NUTM2B</td>
            <td>RBM6</td>
            <td>STAT5B</td>
            <td>WASF2</td>
            <td></td>
        </tr>
        <tr>
            <td>BCAS3</td>
            <td>CEBPA</td>
            <td>EEFSEC</td>
            <td>FOSB</td>
            <td>JAK1</td>
            <td>MLLT4</td>
            <td>OFD1</td>
            <td>RCOR1</td>
            <td>STAT6</td>
            <td>WDR18</td>
            <td></td>
        </tr>
        <tr>
            <td>BCAS4</td>
            <td>CEBPB</td>
            <td>EGFR</td>
            <td>FOSL1</td>
            <td>JAK2</td>
            <td>MLLT6</td>
            <td>OLIG2</td>
            <td>RCSD1</td>
            <td>STRN</td>
            <td>WDR70</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL10</td>
            <td>CEBPD</td>
            <td>EGR1</td>
            <td>FOXO1</td>
            <td>JAZF1</td>
            <td>MN1</td>
            <td>OLR1</td>
            <td>RET</td>
            <td>SUGP2</td>
            <td>WHSC1</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL11A</td>
            <td>CEBPE</td>
            <td>EGR2</td>
            <td>FOXO4</td>
            <td>KANK1</td>
            <td>MNX1</td>
            <td>OMD</td>
            <td>RHOH</td>
            <td>SUZ12</td>
            <td>WHSC1L1</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL11B</td>
            <td>CEP170B</td>
            <td>EGR3</td>
            <td>FOXP1</td>
            <td>KAT6A</td>
            <td>MSI2</td>
            <td>P2RY8</td>
            <td>RNF213</td>
            <td>SYK</td>
            <td>WSB1</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL2</td>
            <td>CEP85L</td>
            <td>EGR4</td>
            <td>FRK</td>
            <td>KAT6B</td>
            <td>MSN</td>
            <td>PAPPA</td>
            <td>ROS1</td>
            <td>TACC1</td>
            <td>WT1</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL2L1</td>
            <td>CHD6</td>
            <td>EIF4A2</td>
            <td>FRYL</td>
            <td>KDM5A</td>
            <td>MUC1</td>
            <td>PATZ1</td>
            <td>RPL22</td>
            <td>TACC2</td>
            <td>WWTR1</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL3</td>
            <td>CHIC2</td>
            <td>ELF4</td>
            <td>FUS</td>
            <td>KIAA1524</td>
            <td>MUTYH</td>
            <td>PAX3</td>
            <td>RPN1</td>
            <td>TACC3</td>
            <td>XIAP</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL6</td>
            <td>CHMP2B</td>
            <td>ELK4</td>
            <td>GAS5</td>
            <td>KIF5B</td>
            <td>MYB</td>
            <td>PAX5</td>
            <td>RREB1</td>
            <td>TAF15</td>
            <td>YAP1</td>
            <td></td>
        </tr>
        <tr>
            <td>BCL9</td>
            <td>CHST11</td>
            <td>ELL</td>
            <td>GAS7</td>
            <td>KPNB1</td>
            <td>MYBL1</td>
            <td>PAX7</td>
            <td>RRM1</td>
            <td>TAL1</td>
            <td>YTHDF2</td>
            <td></td>
        </tr>
        <tr>
            <td>BCOR</td>
            <td>CIC</td>
            <td>ELN</td>
            <td>GATA1</td>
            <td>KSR1</td>
            <td>MYC</td>
            <td>PAX8</td>
            <td>RTEL1</td>
            <td>TAL2</td>
            <td>YWHAE</td>
            <td></td>
        </tr>
        <tr>
            <td>BCR</td>
            <td>CIITA</td>
            <td>EML1</td>
            <td>GIT2</td>
            <td>LASP1</td>
            <td>MYH11</td>
            <td>PBX1</td>
            <td>RUNX1</td>
            <td>TAOK1</td>
            <td>ZBTB16</td>
            <td></td>
        </tr>
        <tr>
            <td>BDNF</td>
            <td>CLP1</td>
            <td>EML4</td>
            <td>GLI1</td>
            <td>LCK</td>
            <td>MYH9</td>
            <td>PCM1</td>
            <td>RUNX1T1</td>
            <td>TBX15</td>
            <td>ZC3H7A</td>
            <td></td>
        </tr>
        <tr>
            <td>BICC1</td>
            <td>CLTC</td>
            <td>EP300</td>
            <td>GOSR1</td>
            <td>LCP1</td>
            <td>MYO18A</td>
            <td>PDE4DIP</td>
            <td>SARNP</td>
            <td>TCF12</td>
            <td>ZC3H7B</td>
            <td></td>
        </tr>
        <tr>
            <td>BIRC3</td>
            <td>CLTCL1</td>
            <td>EP400</td>
            <td>GOT1</td>
            <td>LGR5</td>
            <td>MYO1F</td>
            <td>PDGFB</td>
            <td>SEC31A</td>
            <td>TCF3</td>
            <td>ZFP64</td>
            <td></td>
        </tr>
        <tr>
            <td>BIRC6</td>
            <td>CMKLR1</td>
            <td>EPC1</td>
            <td>GPR128</td>
            <td>LHFP</td>
            <td>NAB2</td>
            <td>PDGFRA</td>
            <td>2.Sep</td>
            <td>TCL1A</td>
            <td>ZFPM2</td>
            <td></td>
        </tr>
        <tr>
            <td>BRAF</td>
            <td>CNBP</td>
            <td>EPOR</td>
            <td>GPR34</td>
            <td>LHX2</td>
            <td>NAPA</td>
            <td>PDGFRB</td>
            <td>5.Sep</td>
            <td>TCTA</td>
            <td>ZFYVE19</td>
            <td></td>
        </tr>
        <tr>
            <td>BRD1</td>
            <td>CNOT2</td>
            <td>EPS15</td>
            <td>GRHPR</td>
            <td>LHX4</td>
            <td>NBEAP1</td>
            <td>PER1</td>
            <td>6.Sep</td>
            <td>TEAD1</td>
            <td>ZMIZ1</td>
            <td></td>
        </tr>
        <tr>
            <td>BRD3</td>
            <td>CNTRL</td>
            <td>ERBB3</td>
            <td>GRID1</td>
            <td>LHFP</td>
            <td>NBR1</td>
            <td>PHF1</td>
            <td>9.Sep</td>
            <td>TEAD2</td>
            <td>ZMYM2</td>
            <td></td>
        </tr>
</table>
</div>
