<table class="spec-table spec-table-v2">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>TruSight Oncology 500 v2 / TruSight RNA Fusion Panel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>System</td>
            <td>NextSeq 550Dx or NovaSeq 6000Dx (research mode)</td>
        </tr>
        <tr>
            <td>Panel size</td>
            <td>1.94 Mb DNA, ~25K SNPs HRD / 1.44Mb RNA</td>
        </tr>
        <tr>
            <td>DNA input requirement</td>
            <td>30 ng total (as low as 10 ng)</td>
        </tr>
        <tr>
            <td>RNA input requirement</td>
            <td>40 ng total (as low as 20 ng)</td>
        </tr>
        <tr>
            <td>FFPE input requirement</td>
            <td>Minimum recommendation of 2 ㎣ from FFPE tissue samples</td>
        </tr>
        <tr>
            <td>Total assay time</td>
            <td>3-4 days from nucleic acid to variant report</td>
        </tr>
        <tr>
            <td>Sequence run time</td>
            <td>19~24 hours</td>
        </tr>
        <tr>
            <td>Sequence run</td>
            <td>2 X 101 cycles</td>
        </tr>
        <tr>
            <td>Kit size</td>
            <td>24 or 48 samples</td>
        </tr>
        <tr>
            <td>Sample throughput</td>
            <td>8 or 16 or 32 samples per run</td>
        </tr>
        <tr>
            <td>Limit of detection</td>
            <td>Small variants: 5% VAF<br>RNA fusions: 17 supporting reads<br>CNVs:<br>➤ Gene
                amplification: 1.8-fold change<br>➤ Gene deletions: 0.5-fold change<br>➤ BRCA large rearrangement (≥ 3
                exons): 25% VAF<br>➤ BRCA large rearrangement (&lt; 3 exons): 41% VAF<br>HRD GIS: 23% tumor
                content<br>MSI-H: 20% tumor content</td>
        </tr>
        <tr>
            <td>Analytical sensitivity</td>
            <td>&gt;95% for all variant types at limit of detection</td>
        </tr>
        <tr>
            <td>Analytical specificity</td>
            <td>&gt;99.99%</td>
        </tr>
    </tbody>
</table>